.background {
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  letter-spacing: 1px;
  max-width: 1200px;
  padding: 32px;
  width: 100%;
}

.bar {
  height: 1px;
  width: 100%;
  background: gray;
}

.right img {
  margin-bottom: 30px;
  margin-right: 30px;
  width: 140px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left img {
  margin-top: 30px;
  margin-left: 30px;
  width: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 16px;
}

.light {
  height: 188px;
  width:  320px;
  margin-top: 16px;  
  align-self: center;
  margin-bottom: 32px;
}

.left {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 0;
}

.right {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 0;
}

.Left-card {
  align-self: flex-start;
  max-width: 600px;
  text-align: justify;
}

.Left-card strong {
  font-size: 20px;
}

.Right-card {
  align-self: flex-start;
  max-width: 600px;
  text-align: justify;
}

.Right-card strong {
  font-size: 20px;
}

@media (min-width: 820px) {
  .left {
    justify-content: flex-end;
  }
  
  .right {
    justify-content: flex-start;
  }
}

@media (min-width: 868px) {
  .bar {
    display: none;
  }

  .left img {
    margin-top: 0;
  }
}