.intro {
  align-items: center;
  background: black;
  box-sizing: border-box;
  color: #F75027;
  display: flex;
  flex-direction: column;
  padding: 32px 8px;
  text-align: center;
  width: 100%;
}

.intro_title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
  letter-spacing: 4px;
  margin-bottom: 8px;
}

.intro_subtitle {
  color: white;
  font-size: 12px;
  max-width: 240px;
  text-align: center;
}

.intro_animation {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 8px;
  position: relative;
  width: 300px;
  z-index: 1;
}

@keyframes ray {
  0% { background: #fffa52;width: 0%;}
  100% { background: yellow;width: 80%;}
}

.intro_animation::before {
  animation: ray;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 64px;
  content: '';
  height: 0.5vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
}

.intro_animation img {
  width: 64px;
}


@media (min-width: 540px) {
  .intro{
    padding: 32px 16px;
  }

  .intro_title {
    font-size: 48px;
    margin-bottom: 16px;
  }

  .intro_subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    max-width: 520px;
  }

  .intro_animation {
    padding: 64px 8px;
    width: 520px;
  }
  
  .intro_animation img {
    width: 88px;
  } 
}


@media (min-width: 880px) {
  .intro{
    padding: 64px 16px;
  }

  .intro_animation {
    padding: 80px 8px;
    width: 800px;
  }
  
  .intro_animation img {
    width: 96px;
  } 
}